In [1]:
import pandas as pd

In [2]:
database = [
    './database/earnings_2022-01-01_2023-01-01.csv',
    './database/histPos_2022-01-01_2023-01-01.csv',
    './database/trades_2022-01-01_2023-01-01.csv'
]

In [13]:
(
    pd.read_csv(database[1])
    [['date','tipoProduto','valorAtualizado']]
    .loc[lambda x: x['tipoProduto'] == 'Acao']
    [['date','valorAtualizado']]
    .groupby('date').sum()
)

            valorAtualizado
date
2022-01-01        110565.02
2022-01-02        110565.02
2022-01-03        109872.57
2022-01-04        109171.59
2022-01-05        106277.32
...                     ...
2022-12-28        749705.04
2022-12-29        747647.05
2022-12-30        747647.05
2022-12-31        747647.05
2023-01-01        747647.05

[366 rows x 1 columns]

In [21]:
(
    pd.read_csv(database[2])
    # .loc[lambda x: pd.notna(x['vencimento'])]
    [['tipoMovimentacao','data','valor','mercado']]
    .loc[lambda x: x['mercado'] == 'Mercado à Vista']
    # [['date','valorAtualizado']]
    # .groupby('date').sum()
)

    tipoMovimentacao                 data    valor          mercado
0             Compra  2022-12-14T00:00:00   6250.0  Mercado à Vista
1             Compra  2022-12-14T00:00:00   3124.0  Mercado à Vista
2             Compra  2022-12-14T00:00:00   7284.0  Mercado à Vista
3             Compra  2022-12-14T00:00:00  10928.0  Mercado à Vista
4             Compra  2022-12-14T00:00:00  10095.0  Mercado à Vista
..               ...                  ...      ...              ...
96            Compra  2022-05-23T00:00:00   2604.0  Mercado à Vista
97            Compra  2022-05-02T00:00:00   1444.0  Mercado à Vista
98            Compra  2022-05-02T00:00:00   1793.0  Mercado à Vista
99            Compra  2022-05-02T00:00:00    970.0  Mercado à Vista
100           Compra  2022-05-02T00:00:00   2904.0  Mercado à Vista

[101 rows x 4 columns]